<mat-card class="shadow">
  <img class="h-80 object-contain object-center" src={{product.image}}>
  <!-- {{product | json}} -->
  <div class="p-4">
    <h1>{{product.name}}</h1>
    <h2>{{product.brand}}</h2>
    <div class="flex gap-2">
      <span>Rs. {{product.currentPrice}}</span>
      <span><s>Rs. {{product.standardPrice}}</s></span>
      <span>({{product.discount}}% off)</span>
    </div>
    <div class="flex justify-end">
      <button mat-raised-button color="primary" (click) = "view()">View</button>
    </div>
  </div>
</mat-card>
